{% extends "base.html" %}

{% block title %}
Colon Cancer
{% endblock %}


{% block page_title %}
Colon Cancer Module
{% endblock %}


{% block content %}


<div class="container-fluid">


    <h2 class="mb-3">
        🧬 Colon Cancer
    </h2>


    <p class="text-muted">
        AJCC • WHO • CAP • Biomarkers
    </p>



    <div class="row mt-4">



        <!-- AJCC STAGING -->

        <div class="col-md-3 mb-4">


            <div class="card shadow-sm h-100">


                <div class="card-body">


                    <h4>
                        📊
                    </h4>


                    <h5>
                        AJCC Staging
                    </h5>


                    <p>
                        Calculate TNM stage.
                    </p>



                    <a href="{% url 'colon:staging' %}" 
                       class="btn btn-primary">

                        Open

                    </a>



                </div>


            </div>


        </div>







        <!-- BIOMARKERS -->


        <div class="col-md-3 mb-4">


            <div class="card shadow-sm h-100">


                <div class="card-body">


                    <h4>
                        🧪
                    </h4>


                    <h5>
                        Biomarkers
                    </h5>


                    <p>
                        MSI, KRAS, NRAS, BRAF...
                    </p>



                    <a href="#" 
                       class="btn btn-primary">

                        Open

                    </a>



                </div>


            </div>


        </div>








        <!-- CAP -->


        <div class="col-md-3 mb-4">


            <div class="card shadow-sm h-100">


                <div class="card-body">


                    <h4>
                        📋
                    </h4>


                    <h5>
                        CAP Protocol
                    </h5>


                    <p>
                        Synoptic checklist.
                    </p>



                    <a href="#" 
                       class="btn btn-primary">

                        Open

                    </a>



                </div>


            </div>


        </div>








        <!-- WHO -->


        <div class="col-md-3 mb-4">


            <div class="card shadow-sm h-100">


                <div class="card-body">


                    <h4>
                        📚
                    </h4>


                    <h5>
                        WHO Classification
                    </h5>


                    <p>
                        Histologic classification.
                    </p>



                    <a href="#" 
                       class="btn btn-primary">

                        Open

                    </a>



                </div>


            </div>


        </div>





    </div>


</div>



{% endblock %}