<!-- Sidebar -->
<aside class="sidebar">

    <div class="logo">

        <div class="logo-icon">
            <i class="bi bi-virus2"></i>
        </div>

        <div>
            <h3>StageX</h3>
            <small>v1.0</small>
        </div>

    </div>

    <hr>

    <ul class="nav-links">

        <li>
            <a href="{% url 'core:dashboard' %}">
                <i class="bi bi-grid"></i>
                Dashboard
            </a>
        </li>

        <li>
            <a href="{% url 'colon:home' %}">
                <i class="bi bi-heart-pulse"></i>
                Colon Cancer
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-calculator"></i>
                AJCC Calculator
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-list-check"></i>
                CAP Checklist
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-diagram-3"></i>
                WHO Classification
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-capsule"></i>
                Biomarkers
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-file-earmark-text"></i>
                Reports
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-book"></i>
                References
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-gear"></i>
                Settings
            </a>
        </li>

    </ul>

</aside>